


    .txtapplicantfname{
        width: 70px;
        border-bottom: 1px solid #0954A5;
        border-left-style: none;
        border-left-color: inherit;
        border-left-width: 0;
        border-right-style: none;
        border-right-color: inherit;
        border-right-width: 0;
        border-top-style: none;
        border-top-color: inherit;
        border-top-width: 0;
        font-size: 10px;
        }
    .labelClass
{
	display:block;
	float:left;
	width:175px;
}
    .testHeaderCenter{
        position : center;
    }
#container {
    width: 970px;
    background-color: #FFF;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100px;
    position : center;
}
.ComponentLeft {
  border-radius: 4px;
  direction: ltr;
  height : 25px;
  width : 246px;
  position: relative;
  bottom : 42px;
  left: 200px;
  border: 1px solid #6C60DA;
    background: #E8E8E8;
}
.ComponentRight {
  border-radius: 4px;
  direction: ltr;
  height : 25px;
  width : 246px;
  position: relative;
  bottom : 85px;
  left: 700px;
  border: 1px solid #6C60DA;
    background: #E8E8E8;
}
.ComponentWilayaDropDown {
  border-radius: 4px;
  direction: ltr;
  height : 25px;
  width : 246px;
  position: relative;
  bottom : 85px;
  left: 700px;
  border: 1px solid #6C60DA;
    background: #E8E8E8;
}
.LabelLeft {
  border-radius: 4px;
  direction: ltr;
  height : 25px;
  width : 246px;
  position: relative;
  bottom : 20px;
  left: 5px;
  border: 1px solid #6C60DA;
  background: #E8E8E8;
}
.LabelRight {
  border-radius: 4px;
  direction: ltr;
  height : 25px;
  width : 246px;
  position: relative;
  bottom : 63px;
  left: 500px;
  border: 1px solid #6C60DA;
  background: #E8E8E8;
}
.ComponentDescription {
  border-radius: 4px;
  direction: ltr;

  position: relative;
  
  left: 200px;
  border: 1px solid #6C60DA;
  background: #E8E8E8;
}
.ButtonCss {
  border-radius: 10px;
  direction: ltr;

  position: relative;
  
  left: 400px;
  border: 1px solid #6C60DA;
  
}
body
{
    /*used for the body of the loginPopup Page*/
    
  /*background-image:url(https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg);*/
  /*background-image:url(/Files/background.png);*/

}
.DivTitle{
    text-align:center;
    position:center;
    text-decoration-color:azure;
    
}
.LabelTitle{
    font-size:large; 
}
.center-div
{
  /*used for the logform's div of the loginPopup Page*/
  
  position:relative;
  left:300px;
  
  background-color: #FFFFFF;
  
}

